.fit-picture{
  width: 1518px;
  height: 515px;
  align-items: center;
}
/* .container{
  background-image: url("./image/covid_19.jpg");
  max-width: 100%;
} */
.top{
  display: flex;
  flex-direction: column;
}
h2{
  margin-top: -30%;
  color: white;
  margin-left: 63%;
}